.parentContainer{
    width: 100%;
    position: relative;
}
.refreshIcon{
    color: grey;
    padding: .375rem .75rem;
    position: absolute;
    top: -10px;
    right: -20px;
}
.refreshIcon:hover{
    cursor: pointer;
    color: black;
}
.Toastify__close-button--default{
    display: none;
}
.Toastify__toast {
    background-color: limegreen;
    color: white;
    text-align: center;
    width: 85%;
    height: 1.8rem
}